.content
  margin: 30px 20px
  .toolbar
    padding: 0px 20px 10px
    background-color: #eff2f7
    margin-bottom: 10px
    .form-row
      .form-input
        display inline-block
      .form-content
        display:inline-block
        width 30%
    .toolbar-action
      text-align right
      padding 10px 0px

.el-dialog__body
  padding 10px 15px

.head-ul
  text-align center
  list-style: none
  li
    display inline
    &:first-child
      display block
      font-size 20px
      font-weight 700
    &:last-child
      margin-left 30px